<header><%- include('./layout/header'); %></header>
<div>
    <div class="left-side" style="height: 100%;width: 50vw;background-image: url('../images/note.jpg');background-size: cover;background-repeat: no-repeat;position: absolute;top:0;left: 50%;z-index: -1;margin-right: calc(50% - 50vw);
"></div>
    <div class="right-side" style="width: 50vw;height: 100%">
        <h1 style="text-align: center;margin-top: 200px;font-size:3rem;">ブログで作るつながり</h1>
        <p style="font-size: 1.7rem;margin-top:60px;margin-left:90px;margin-right:90px ">
            人と人をつなぐ新しいWebアプリが登場！ブログを通じて、共通の趣味や興味を持つ仲間と簡単に出会えます。自分の考えを発信し、同じテーマに興味を持つ人々とコミュニケーションが可能。新しい友達やコミュニティを作り、知識やアイデアを共有できるプラットフォームです。さあ、あなたも参加して、世界とつながりましょう！</p>

    </div>

</div>
